@import "./style.css";
/* body */

/* resize icon */

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

/* layout continer */

.layout-container {
    display: flex;
    align-items: flex-start;
}

footer,
.wrap-layout-continer {
    display: flex;
    flex-direction: column;
}

/* start footer */

footer {
    text-align: center;
    padding: var(--space-3) 0;
    color: #eee;
    font-size: var(--text-size-xs);
}

#devlopername {
    text-transform: lowercase;
}

#developerlastname {
    text-transform: uppercase;
}

/* end footer */

/* start header style */

.header-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--surface);
    padding: var(--space-4) var(--space-12);
}

/* start left header from header */
.left-header {
    position: relative;
    display: flex;
    align-items: center;
}

#search-icon {
    position: absolute;
    top: 3;
    left: 10px;
    cursor: default;
    width: 20px;
    height: 20px;

}

#search-bar {
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-xl);
    padding: var(--space-1) var(--space-8);
    color: var(--foreground-text-color);
    background-color: var(--card-color);
    font-size: var(--text-size-sm);
    width: 100%;
}

#search-bar:focus {
    border: 1.5px solid var(--ring-color);
}

/* end left header from header */

/* start right header from header */

.right-header {
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
    margin-left: auto;
    /* flex:  */
}

.user-details {
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
}

#user-avatar {
    border-radius: calc(var(--radius-lg) + 0.2rem);
    width: calc(var(--icon-size) + 0.2rem);
    height: calc(var(--icon-size) + 0.2rem);
}

.right-header .user-data {
    color: var(--foreground-text-color);
    text-transform: capitalize;
    line-height: 1.1;
}

.right-header .user-data>span {
    font-size: var(--text-size-xs);
}

.right-header .drop-down-menu,
.right-header .emial-icon,
.right-header .notification-icon {
    /* background-color: #16A34A; */
    border-radius: var(--radius-xl);
    transition: var(--transition-normal);

    display: flex;
    justify-content: center;
}

.right-header .drop-down-menu:hover,
.right-header .emial-icon:hover,
.right-header .notification-icon:hover {
    background-color: var(--secondary-color);
}

#drow-down-icon {
    width: calc(var(--icon-size) + 0.1rem);
    height: calc(var(--icon-size) + 0.1rem);
}

/* end right header from header */

/* end header style */

/* sidebar-meanu */

aside.sidebar-meanu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-10) 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    height: 100vh;
    width: 60px;
    padding: var(--space-3) var(--space-2);
    background-color: #2a0e5b;
    overflow: hidden;
}

aside>#logo-main-plus {
    text-transform: capitalize;
    text-align: center;
    padding: var(--space-3);
    font-size: var(--text-size-3xl);
}

aside>#logo-main-plus>img {
    height: 50px;
}


.navigation-menu {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.navigation-menu>.menu-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: var(--space-2) 0;
    list-style-type: none;
}

.navigation-menu>.menu-list>li.btn>svg,
.navigation-menu>.menu-list>li.btn>path {
    fill: white;
    width: 15px;
}

.navigation-menu .setting-btn,
.navigation-menu>.menu-list li {
    cursor: pointer;
    padding: var(--space-1) var(--space-2);
    transition: var(--transition-normal);
}

.navigation-menu .setting-btn {
    margin-top: auto;
}

/* .navigation-menu .setting-btn:hover {
    color: var(--accent-color);
} */

.navigation-menu>.menu-list li,
.setting-btn {
    position: relative;
    border-radius: var(--radius-lg);
    font-size: 0.8em;
}

.navigation-menu>.menu-list li:hover {
    background-color: var(--bg-color);
}


.navigation-menu>.menu-list li:hover>svg,
.navigation-menu>.menu-list li:hover>svg path {
    fill: var(--accent-color);
}


.navigation-menu>.menu-list li#active-page {
    background-color: var(--card-color);
}

li#active-page>svg,
li#active-page>svg>path {
    fill: var(--accent-color);
}



.navigation-menu>.menu-list li .icon {
    width: calc(var(--icon-size) + 5px);
    height: calc(var(--icon-size) + 5px);
}

/* main-page */
.main-container {
    /* padding: var(--space-1); */
    margin: var(--space-10) var(--space-3);

}

.main-container>main.main-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-4) 0;
}


/* main-head */
.main-head {
    margin-bottom: var(--space-3);
    margin-left: var(--space-6);
}

.main-head>h1 {
    font-size: var(--text-size-3xl);
    text-transform: capitalize;
    margin-bottom: var(--space-2);
    color: var(--foreground-text-color);
}

.main-head p,
.main-head #username {
    color: var(--muted-foreground-text-color);
    font-size: var(--text-size-xs);

}

/* main-head */


/* KPI cards */
.kpi-cards {
    display: flex;
    align-items: center;
    gap: 0 var(--space-2);
}

.cards {
    position: relative;
    background-color: var(--card-color);
    padding: var(--space-3) var(--space-2);
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;
    box-shadow: -1px 3px 10px 0px #7f859921;
    flex: 1;
    border-bottom: 3.5px solid transparent;
    border-image: linear-gradient(to right, #2a0e5b, #8880ee, #2a0e5b) 3;
}

.cards::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    contain: "";
    background-color: red;
    z-index: 3;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-lg) var(--radius-lg) 0 0;


    /* Base color */
    background: #ededed;

    /* Shimmer layer */
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 70%);

    background-size: 250% 100%;
    background-repeat: no-repeat;

    animation: shimmer 1.5s infinite linear;

    z-index: 3;
}


.cards>.continer-card {
    display: flex;
    gap: 0 var(--space-2);
}

.cards>.continer-card .title {
    display: flex;
    flex-direction: column;
    gap: var(--space-1) 0;
}

/* .work-order-recent-list>.wo-list .card-details>.wo-id-machinename>.wo-icon,
.cards>.continer-card>.wo-icon {
    /* display: flex; */
/* justify-content: center; */
/* align-items: center; */
/* border-radius: var(--radius-xl); */
/* width: calc(var(--space-8)); */
/* height: calc(var(--space-8)); */
/* background-color: var(--bg-color-primary); 
} */

/* .cards>.continer-card>.wo-icon.red {
    background-color: var(--bg-color-danger);
}

.cards>.continer-card>.wo-icon.green {
    background-color: var(--bg-color-green);
}

.cards>.continer-card>.wo-icon.orange {
    background-color: var(--bg-color-orange);
}

.cards>.continer-card>.wo-icon.blue {
    background-color: var(--bg-color-blue);
} */

.cards>.title .icon {
    width: calc(var(--icon-size) - 0.2em);
    height: calc(var(--icon-size) - 0.2em);
    cursor: default;
}

.cards>.continer-card .title .title-text {
    text-align: left;
    font-size: var(--text-size-xs);
    font-weight: var(--font-medium);
    text-transform: capitalize;
    padding: var(--space-1) 0 0 0;
}



.cards>.continer-card .title .value>p {
    font-size: var(--text-size-xl);
    font-weight: var(--font-bold);
}

.cards>.continer-card .title .value .sub-details {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

.cards>.continer-card .title .value .sub-details span,
.cards>.continer-card .title .value .sub-details p {
    font-size: calc(var(--text-size-xs) - 2px);
    text-transform: capitalize;
    color: var(--muted-foreground-text-color);
}

.cards>.continer-card .title .value .sub-details span {
    color: var(--accent-color);
}

.cards>.continer-card .title .value .sub-details span.red {
    color: var(--destructive-color);
}

.cards>.continer-card .title .value .sub-details span.green {
    color: var(--success-color);
}

.cards>.continer-card .title .value .sub-details span.orange {
    color: var(--warning-color);
}


.cards>.continer-card .title .value .sub-details>img.icon {
    filter: brightness(0) saturate(100%) invert(38%) sepia(85%) saturate(5740%) hue-rotate(252deg) brightness(92%) contrast(96%);
    width: 12px;
}


.cards>.continer-card .title .value .sub-details>img.arrow-red {

    filter: brightness(0) saturate(100%) invert(24%) sepia(87%) saturate(2191%) hue-rotate(350deg) brightness(95%) contrast(85%);

}


.cards>.continer-card .title .value .sub-details>img.arrow-green {
    filter: brightness(0) saturate(100%) invert(42%) sepia(98%) saturate(553%) hue-rotate(95deg) brightness(96%) contrast(83%);
}

.cards>.continer-card .title .value .sub-details>img.arrow-orange {

    filter: brightness(0) saturate(100%) invert(51%) sepia(43%) saturate(4217%) hue-rotate(10deg) brightness(97%) contrast(95%);

}

/* KPI cards */

/* main-page */


/* start dashbord visual*/
.grid-dashbord {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: var(--space-3);
}


.grid-dashbord .box {
    background-color: var(--surface);
    padding: var(--space-1);
    border-radius: var(--space-4);
    box-shadow: 0px 0px 6px 0px #6b64801f;
    position: relative;
}

.grid-dashbord .box>.details-of-chart {
    margin: 0 var(--space-3);
}

.box {
    width: 100%;
    padding: var(--space-1) var(--space-2);
}

.box .bar-container {
    width: 500px;
    height: 270px;
}

.doughnut-container {
    width: 200px;
    /* height: 200px; */
}

.box .doughunt-contianer-box {
    display: flex;
    gap: var(--space-6) 0;
    padding: var(--space-4);
    flex-direction: column;
    align-items: center;
    position: relative;
}

.doughnut-container.asset-overview .total-state,
.total-state {
    background-color: transparent;
    color: var(--foreground-text-color);
    font-weight: var(--font-bold);
    position: absolute;
    top: 107px;
    z-index: 1;
}


.doughnut-container>#doughnut-chart {
    width: 100%;
    height: 100%;
}

.doughnut-container.asset-health {
    padding: 0;
}

canvas {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.bar-container #mychart {
    width: 100%;
    height: 100%;
}

.box .title-and-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--space-2) 0 0 var(--space-3);
}

.title-and-selection>.chart-title {
    color: var(--foreground-text-color);
    font-size: 1.2rem;
}

.legend-data {
    margin-top: var(--space-5);
}

.legend-data ul {
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
    color: var(--muted-foreground-text-color);
    list-style-type: none;
    justify-content: center;
}

.dounghnut-legend>ul li,
.legend-data ul li {
    display: flex;
    align-items: center;
    gap: 0 var(--space-2);
}

.dounghnut-legend>ul li .circle,
.legend-data>ul li .circle {
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.4em;
    background-color: var(--accent-color);
    border: none;
}


ul li .circle.primary {
    background-color: var(--accent-color);

}

ul li .circle.secondary {
    background-color: var(--info-color);
}

ul li .circle.thrid {
    background-color: var(--warning-color);
}

ul li .circle.fourth {
    background-color: var(--success-color);
}

ul li .circle.healthy {
    background-color: var(--success-color);
}

ul li .circle.critical {
    background-color: var(--destructive-color);

}

ul li .circle.worning {
    background-color: var(--warning-color);

}

.dounghnut-legend>ul {
    display: flex;
    gap: var(--space-6);
    list-style-type: none;
}

#select-date {
    outline: none;
    width: 100px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--card-color);
    padding: var(--space-1) var(--space-3);
    font-size: 12px;
}

#select-date option:checked {
    background-color: var(--accent-color);
    color: var(--card-color);
}

#select-date::selection {
    color: var(--accent-color);
}



/* recent workorder*/

.work-order-recent-list {
    margin: 0.9rem 0;
}

.box .btn-view-all-recent-work-order {
    padding: var(--space-1) var(--space-5);
    background-color: var(--card-color);
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: var(--text-size-sm);
    text-transform: lowercase;
}


.work-order-recent-list>.wo-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    list-style-type: none;
    gap: var(--space-4) 0;
    padding: 0 var(--space-3);
}

.work-order-recent-list>.wo-list .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-2);
    font-size: var(--text-size-xs);
    /* text-transform:; */
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0 var(--space-3);
    width: 40%;
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename>.wo-icon {
    border-radius: var(--radius-lg);
    width: calc(var(--icon-size) + .5em);
    height: calc(var(--icon-size) + .5em);
    background-color: var(--bg-color);
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename .text-details .status-wo {
    margin-top: var(--space-1);
    font-size: var(--text-size-xs);
    color: var(--muted-foreground-text-color);
}


.work-order-recent-list>.wo-list .card-details .priority {
    padding: var(--space-2) var(--space-4);
}

.work-order-recent-list>.wo-list .card-details .priority p {
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-md);
    font-size: var(--text-size-xs);
}

.work-order-recent-list>.wo-list .card-details .priority p.priority-high {
    background-color: var(--bg-color-danger);
    color: var(--destructive-color);

}

.work-order-recent-list>.wo-list .card-details .priority p.priority-medium {
    background-color: var(--bg-color-orange);
    color: var(--warning-color);

}

.work-order-recent-list>.wo-list .card-details .priority p.priority-low {
    background-color: var(--bg-color-green);
    color: var(--success-color);
}

.work-order-recent-list>.wo-list .card-details .time-base-post p {
    padding: var(--space-1) var(--space-3);
    color: var(--muted-foreground-text-color);
    text-transform: none;
}

/* recent workorder*/

/* MTBF and MTTR chart */

.box.mtbf-chart .mtbf-chart-contianer {
    width: 100%;
}

.mtbf-mttr-chart-legend {
    width: 100%;
}

.mtbf-mttr-chart-legend>ul {
    width: inherit;
    justify-content: center;
    top: 30px;
    left: 0;
    padding: var(--space-3) 0;
}

/* MTBF and MTTR chart */


/* top 5 assets by downtime */

.top-five-assets-table>table {
    width: 100%;
    border-collapse: collapse;
    font-weight: var(--font-regular);
    padding: 0 var(--space-3);
    margin: var(--space-5) 0;
}

.top-five-assets-table {
    margin: var(--space-5) var(--space-3);
}

.top-five-assets-table>table th,
.top-five-assets-table>table td {
    font-weight: 600;
    padding: var(--space-2) 0;
    text-align: left;
}

.top-five-assets-table>table td {
    font-weight: 400;
    width: 200px;
}

.top-five-assets-table tbody>tr {
    border-bottom: 1.8px solid #eceaea;
}

.top-five-assets-table tbody>tr:last-child {
    border: none;
}

.top-five-assets-table>table td:nth-child(2) {
    text-align: center;
}

.top-five-assets-table>table>tbody td.total-value {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0 var(--space-2);
}

.top-five-assets-table>table>tbody td #bar-progress-background,
.top-five-assets-table>table>tbody td .progress-bar {
    width: 100%;
    height: .6em;
    background-color: var(--destructive-color);
    border-radius: 0.3em;
    flex: 0 1 58%;
}

.top-five-assets-table>table>tbody td #bar-progress-background {
    background-color: var(--bg-color-danger);
    margin-left: auto;

}

.top-five-assets-table>table>tbody td .progress-bar.value-1 {
    width: 35%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-2 {
    width: 32.5%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-3 {
    width: 32.5%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-4 {
    width: 70%;

}

.top-five-assets-table>table>tbody td .progress-bar.value-5 {
    width: 80%;
}

/* top 5 assets by downtime */

/* end dashbord visual*/