*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: var(--font-family);
    color: var(--foreground-text-color);
    text-transform: capitalize;
}

:root {
    /* COLORS */
    --primary-color: #8D4FFF;
    --secondary-color: #F2EFF8;
    /* for hover or shoft highlight*/

    --accent-color: #7B3DE6;
    --ring-color: rgba(141, 79, 255, 0.4);
    /* border of input or button , or forms , or modals*/

    --bg-color: #F7F6FB;
    --bg-color-danger: rgba(255, 0, 0, 0.134);
    --bg-color-green: rgba(0, 255, 0, 0.134);
    --bg-color-orange: rgba(233, 166, 8, 0.134);

    --card-color: #FFFFFF;
    --surface: #FFFFFF;

    /* main text contant */
    --foreground-text-color: #1A1530;
    /* secondory text */
    --muted-foreground-text-color: #6B6480;

    /* border-color */
    --border-color: #E5E1EE;

    --success-color: #16A34A;
    --warning-color: #D97706;
    --destructive-color: #DC2626;
    --info-color: #2564eb7b;

    --chart-1-color: #8D4FFF;
    --chart-2-color: #7B3DE6;
    --chart-3-success-color: #16A34A;
    --chart-4-coution-color: #D97706;
    --chart-5-denger-color: #DC2626;

    /* SPACING */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-8: 32px;
    --space-10: 40px;
    --space-12: 48px;
    --space-13: 96px;

    /* RADIUS */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 12px;
    --radius-xl: 18px;
    /* --radius-pill: 999px; */

    /* SHADOW */
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.496);
    --shadow-md: 0 8px 24px -2px rgba(0, 0, 0, 0.12);

    /* TYPOGRAPHY */
    --font-family: "Nunito Sans", sans-serif;

    --text-size-xs: 12px;
    --text-size-sm: 14px;
    --text-size-base: 16px;
    --text-size-lg: 18px;
    --text-size-xl: 20px;
    --text-size-3xl: 30px;

    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;

    /* TRANSITIONS */
    --transition-fast: 0.2s ease;
    --transition-normal: 0.3s ease;

    /* LAYOUT */
    --sidebar-width: 220px;
    --topbar-height: 64px;

    /* icon */
    --icon-size: 1.5rem;
}

/* body */
body {
    background-color: var(--bg-color);
    position: relative;
    overflow-x: hidden;

    min-height: 200vh;
}

/* body */

/* resize icon */

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    cursor: pointer;
}

/* layout continer */

.layout-container {
    display: flex;
    align-items: flex-start;
}

footer,
.wrap-layout-continer {
    display: flex;
    flex-direction: column;
    width: calc(100% - var(--sidebar-width));
    margin-left: var(--sidebar-width);
}

/* start footer */

footer {
    text-align: center;
    padding: var(--space-3) 0;
    color: #eee;
    font-size: var(--text-size-xs);
}

#devlopername {
    text-transform: lowercase;
}

#developerlastname {
    text-transform: uppercase;
}

/* end footer */

/* start header style */

.header-page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--surface);
    padding: var(--space-4) var(--space-12);
}

/* start left header from header */
.left-header {
    position: relative;
    display: flex;
    align-items: center;
}

#search-icon {
    position: absolute;
    top: 3;
    left: 10px;
    cursor: default;
    width: 20px;
    height: 20px;

}

#search-bar {
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-xl);
    padding: var(--space-1) var(--space-8);
    color: var(--foreground-text-color);
    background-color: var(--card-color);
    font-size: var(--text-size-sm);
    width: 100%;
}

#search-bar:focus {
    border: 1.5px solid var(--ring-color);
}

/* end left header from header */

/* start right header from header */

.right-header {
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
    margin-left: auto;
    /* flex:  */
}

.user-details {
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
}

#user-avatar {
    border-radius: calc(var(--radius-lg) + 0.2rem);
    width: calc(var(--icon-size) + 0.2rem);
    height: calc(var(--icon-size) + 0.2rem);
}

.right-header .user-data {
    color: var(--foreground-text-color);
    text-transform: capitalize;
    line-height: 1.1;
}

.right-header .user-data>span {
    font-size: var(--text-size-xs);
}

.right-header .drop-down-menu,
.right-header .emial-icon,
.right-header .notification-icon {
    /* background-color: #16A34A; */
    border-radius: var(--radius-xl);
    transition: var(--transition-normal);

    display: flex;
    justify-content: center;
}

.right-header .drop-down-menu:hover,
.right-header .emial-icon:hover,
.right-header .notification-icon:hover {
    background-color: var(--secondary-color);
}

#drow-down-icon {
    width: calc(var(--icon-size) + 0.1rem);
    height: calc(var(--icon-size) + 0.1rem);
}

/* end right header from header */

/* end header style */

/* sidebar-meanu */

aside.sidebar-meanu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-5) 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    float: left;
    height: 100vh;
    width: var(--sidebar-width);
    padding: var(--space-3) var(--space-2);
    background-color: var(--surface);
}

aside>#logo-main-plus {
    text-transform: capitalize;
    text-align: center;
    padding: var(--space-3);
    font-size: var(--text-size-3xl);
    width: 100%;
}

aside>#logo-main-plus .logo-character {
    color: var(--accent-color);
}

aside .quick-cration-wr>.btn-quick-wr {
    padding: var(--space-2) var(--space-3);
    border: 1px solid transparent;
    border-radius: var(--radius-lg);
    color: var(--secondary-color);
    background-color: var(--accent-color);
    text-transform: capitalize;
    font-size: var(--text-size-sm);
    cursor: pointer;
    transition: var(--transition-normal);
    margin-bottom: var(--space-2);
}


aside .quick-cration-wr>.btn-quick-wr:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
}

.navigation-menu {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.navigation-menu>.menu-list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2) 0;
}

.navigation-menu .setting-btn,
.navigation-menu>.menu-list li {
    display: flex;
    align-items: center;
    gap: 0 var(--space-1);
    cursor: pointer;
    padding: var(--space-1) var(--space-2);
    transition: var(--transition-normal);
}

.navigation-menu .setting-btn {
    margin-top: auto;
}

.navigation-menu .setting-btn:hover {
    color: var(--accent-color);
}

.navigation-menu>.menu-list li,
.setting-btn {
    position: relative;
    border-radius: var(--radius-lg);
    font-size: 0.8em;
}

.navigation-menu>.menu-list li:hover {
    background-color: var(--bg-color);
}



.navigation-menu>.menu-list li#active-page {
    background-color: var(--bg-color);
    color: var(--accent-color);
}

.navigation-menu>.menu-list li#active-page span {
    color: var(--accent-color);

}

.navigation-menu>.menu-list li#active-page::after {
    position: absolute;
    top: -1px;
    right: 1px;
    content: "";
    width: 4px;
    height: calc(var(--space-10) - 0px);
    border-radius: var(--radius-lg);
    background-color: var(--accent-color);
}


.navigation-menu>.menu-list li .icon {
    width: calc(var(--icon-size) + 5px);
    height: calc(var(--icon-size) + 5px);
}

/* main-page */
.main-container {
    /* padding: var(--space-1); */
    margin: var(--space-10) var(--space-3);

}

.main-container>main.main-page {
    display: flex;
    flex-direction: column;
    gap: var(--space-4) 0;
}


/* main-head */
.main-head {
    margin-bottom: var(--space-3);
}

.main-head>h1 {
    font-size: var(--text-size-3xl);
    text-transform: capitalize;
    margin-bottom: var(--space-2);
    color: var(--foreground-text-color);
}

.main-head p,
.main-head #username {
    color: var(--muted-foreground-text-color);
    font-size: var(--text-size-xs);

}

/* main-head */


/* KPI cards */
.kpi-cards {
    display: flex;
    align-items: center;
    gap: 0 var(--space-2);
}

.cards {
    position: relative;
    background-color: var(--card-color);
    padding: var(--space-3) var(--space-2);
    border-radius: var(--radius-lg);
    box-shadow: -1px 3px 10px 0px rgb(141 79 255 / 16%);
    flex: 1;
}

.cards::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    contain: "";
    background-color: red;
    z-index: 3;
}

.cards>.continer-card {
    display: flex;
    gap: 0 var(--space-2);
}

.cards>.continer-card .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--space-1) 0;
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename>.wo-icon,
.cards>.continer-card>.wo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-lg);
    width: calc(var(--icon-size) + .05em);
    height: calc(var(--icon-size) + .05em);
    background-color: var(--bg-color);
}

.cards>.continer-card>.wo-icon.red {
    background-color: var(--bg-color-danger);
}

.cards>.continer-card>.wo-icon.green {
    background-color: var(--bg-color-green);
}

.cards>.continer-card>.wo-icon.orange {
    background-color: var(--bg-color-orange);
}

.cards>.title .icon {
    width: calc(var(--icon-size) - 0.2em);
    height: calc(var(--icon-size) - 0.2em);
    cursor: default;
}

.cards>.continer-card .title .title-text {
    text-align: left;
    font-size: var(--text-size-xs);
    font-weight: var(--font-regular);
    text-transform: capitalize;
    color: var(--muted-foreground-text-color);
    padding: var(--space-1) 0 0 0;

}

.cards>.continer-card .title .value>p {
    font-size: var(--text-size-xl);
    font-weight: var(--font-bold);
}

.cards>.continer-card .title .value .sub-details {
    display: flex;
    align-items: center;
    gap: var(--space-1);
}

.cards>.continer-card .title .value .sub-details span,
.cards>.continer-card .title .value .sub-details p {
    font-size: calc(var(--text-size-xs) - 2px);
    text-transform: capitalize;
    color: var(--muted-foreground-text-color);
}

.cards>.continer-card .title .value .sub-details span {
    color: var(--accent-color);
}

.cards>.continer-card .title .value .sub-details span.red {
    color: var(--destructive-color);
}

.cards>.continer-card .title .value .sub-details span.green {
    color: var(--success-color);
}

.cards>.continer-card .title .value .sub-details span.orange {
    color: var(--warning-color);
}


.cards>.continer-card .title .value .sub-details>img.icon {
    filter: brightness(0) saturate(100%) invert(38%) sepia(85%) saturate(5740%) hue-rotate(252deg) brightness(92%) contrast(96%);
    width: 12px;
}


.cards>.continer-card .title .value .sub-details>img.arrow-red {

    filter: brightness(0) saturate(100%) invert(24%) sepia(87%) saturate(2191%) hue-rotate(350deg) brightness(95%) contrast(85%);

}


.cards>.continer-card .title .value .sub-details>img.arrow-green {
    filter: brightness(0) saturate(100%) invert(42%) sepia(98%) saturate(553%) hue-rotate(95deg) brightness(96%) contrast(83%);
}

.cards>.continer-card .title .value .sub-details>img.arrow-orange {

    filter: brightness(0) saturate(100%) invert(51%) sepia(43%) saturate(4217%) hue-rotate(10deg) brightness(97%) contrast(95%);

}

/* KPI cards */

/* main-page */


/* start dashbord visual*/
.grid-dashbord {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: var(--space-3);
}


.grid-dashbord .box {
    background-color: var(--surface);
    padding: var(--space-1);
    border-radius: var(--space-4);
    box-shadow: 0px -2px 6px 0px #6b648052;
}

.grid-dashbord .box>.details-of-chart {
    margin: 0 var(--space-3);
}

.box {
    width: 100%;
    padding: var(--space-1) var(--space-2);
    position: relative;
}

.box .bar-container {
    width: 500px;
    height: 270px;
}

.box .doughnut-container {
    width: 200px;
    /* height: 200px; */
}

.box>.total-state {
    background-color: transparent;
    padding: var(--space-2) var(--space-3);
    color: var(--foreground-text-color);
    font-weight: var(--font-bold);
    border-radius: 3.2em;
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 107px;
    left: 74px;
    z-index: 1;
}

.box.assets-health .total-state {
    top: 155px;
    left: 71px;
}

.doughnut-container>#doughnut-chart {
    width: 100%;
    height: 100%;
}

canvas {
    image-rendering: pixelated;
}

.bar-container #mychart {
    width: 100%;
    height: 100%;
}

.box .title-and-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--space-2) 0 var(--space-2) var(--space-3);
}

.title-and-selection>.chart-title {
    color: var(--foreground-text-color);
}

.legend-data ul {
    position: absolute;
    top: 55px;
    left: 71px;
    display: flex;
    align-items: center;
    gap: 0 var(--space-4);
    color: var(--muted-foreground-text-color);
    list-style-type: none;
}

.dounghnut-legend>ul li,
.legend-data ul li {
    display: flex;
    align-items: center;
    gap: 0 var(--space-2);
}

.dounghnut-legend>ul li .circle,
.legend-data>ul li .circle {
    display: block;
    width: 0.8em;
    height: 0.8em;
    border-radius: 0.4em;
    background-color: var(--accent-color);
    border: none;
}


ul li .circle.primary {
    background-color: var(--accent-color);

}

ul li .circle.secondary {
    background-color: var(--info-color);
}

ul li .circle.thrid {
    background-color: var(--warning-color);
}

ul li .circle.fourth {
    background-color: var(--success-color);
}

ul li .circle.healthy {
    background-color: var(--success-color);
}

ul li .circle.critical {
    background-color: var(--destructive-color);

}

ul li .circle.worning {
    background-color: var(--warning-color);

}

.box .doughunt-contianer-box {
    display: flex;
    gap: 0 var(--space-6);
    padding: var(--space-4);
}

.dounghnut-legend {
    flex: 1;
    position: relative;
}

.dounghnut-legend>ul {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    list-style-type: none;
    position: absolute;
    top: 50px;
    top: 32px;
    left: 14px;
}

.dounghnut-legend.asset-health-legend>ul {
    top: 72px;
}

#select-date {
    outline: none;
    width: 100px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--card-color);
    padding: var(--space-1) var(--space-3);
    font-size: 12px;
}

#select-date option:checked {
    background-color: var(--accent-color);
    color: var(--card-color);
}

#select-date::selection {
    color: var(--accent-color);
}



/* recent workorder*/

.work-order-recent-list {
    margin-bottom: var(--space-4);
}

.box .btn-view-all-recent-work-order {
    padding: var(--space-1) var(--space-5);
    background-color: var(--card-color);
    border: none;
    color: var(--accent-color);
    cursor: pointer;
    font-size: var(--text-size-sm);
    text-transform: lowercase;
}


.work-order-recent-list>.wo-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    list-style-type: none;
    gap: var(--space-4) 0;
    padding: 0 var(--space-3);
}

.work-order-recent-list>.wo-list .card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--space-2);
    font-size: var(--text-size-xs);
    /* text-transform:; */
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 0 var(--space-3);
    /* margin: var(--space-) 0; */
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename>.wo-icon {
    border-radius: var(--radius-lg);
    width: calc(var(--icon-size) + .5em);
    height: calc(var(--icon-size) + .5em);
    background-color: var(--bg-color);
}

.work-order-recent-list>.wo-list .card-details>.wo-id-machinename .text-details .status-wo {
    margin-top: var(--space-1);
    font-size: var(--text-size-xs);
    color: var(--muted-foreground-text-color);
}


.work-order-recent-list>.wo-list .card-details .priority {
    padding: var(--space-2) var(--space-4);
}

.work-order-recent-list>.wo-list .card-details .priority p {
    padding: var(--space-1) var(--space-2);
    border-radius: var(--radius-md);
    font-size: var(--text-size-xs);
}

.work-order-recent-list>.wo-list .card-details .priority p.priority-high {
    background-color: var(--bg-color-danger);
    color: var(--destructive-color);

}

.work-order-recent-list>.wo-list .card-details .priority p.priority-medium {
    background-color: var(--bg-color-orange);
    color: var(--warning-color);

}

.work-order-recent-list>.wo-list .card-details .priority p.priority-low {
    background-color: var(--bg-color-green);
    color: var(--success-color);
}

.work-order-recent-list>.wo-list .card-details .time-base-post p {
    padding: var(--space-1) var(--space-3);
    color: var(--muted-foreground-text-color);
    text-transform: none;
}

/* recent workorder*/

/* MTBF and MTTR chart */

.box.mtbf-chart .mtbf-chart-contianer {
    width: 100%;
    height: 300px;
    margin-top: var(--space-10);
}

.mtbf-mttr-chart-legend {
    width: 100%;
}

.mtbf-mttr-chart-legend>ul {
    width: inherit;
    justify-content: center;
    top: 30px;
    left: 0;
    padding: var(--space-3) 0;
}

/* MTBF and MTTR chart */


/* top 5 assets by downtime */

.top-five-assets-table>table {
    width: 100%;
    border-collapse: collapse;
    font-weight: var(--font-regular);
    padding: 0 var(--space-3);
    margin: var(--space-5) 0;
}

.top-five-assets-table {
    margin: var(--space-5) var(--space-3);
}

.top-five-assets-table>table th,
.top-five-assets-table>table td {
    font-weight: 600;
    padding: var(--space-2) 0;
    text-align: left;
}

.top-five-assets-table>table td {
    font-weight: 400;
}

.top-five-assets-table tbody>tr {
    border-bottom: 1.8px solid #eceaea;
}

.top-five-assets-table tbody>tr:last-child {
    border: none;
}

.top-five-assets-table>table td:nth-child(2) {
    text-align: center;
}

.top-five-assets-table>table>tbody td.total-value {
    display: flex;
    align-items: center;
    gap: 0 var(--space-2);
}

.top-five-assets-table>table>tbody td .progress-bar {
    width: 100%;
    height: .3em;
    background-color: var(--destructive-color);
    border-radius: 0.3em;
}

.top-five-assets-table>table>tbody td .progress-bar.value-1 {
    width: 30%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-2 {
    width: 50%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-3 {
    width: 20%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-4 {
    width: 15%;
}

.top-five-assets-table>table>tbody td .progress-bar.value-5 {
    width: 5%;
}

/* top 5 assets by downtime */

/* end dashbord visual*/